name: ui_package
description: "Production-ready reusable Flutter UI Kit"
version: 0.0.1
homepage: https://github.com/mangeshG07/ui_package.git
repository: https://github.com/mangeshG07/ui_package.git

environment:
  sdk: ^3.9.2
  flutter: ">=1.17.0"

dependencies:
  flutter:
    sdk: flutter

  flutter_screenutil: ^5.9.3
  carousel_slider: ^5.1.2
  cached_network_image: ^3.4.1
  video_player: ^2.10.1
  image_picker: ^1.2.1
  get: ^4.7.3
  file_picker: ^10.3.10
  flutter_rating_bar: ^4.0.1
  intl: ^0.20.2
  shared_preferences: ^2.5.4
  flutter_secure_storage: ^10.0.0
  flutter_pdfview: ^1.4.4
  dropdown_search: ^6.0.2
  permission_handler: ^12.0.1
  path_provider: ^2.1.5
  http: ^1.6.0
  connectivity_plus: ^7.0.0
  shimmer: ^3.0.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter packages.
flutter:

  # To add assets to your package, add an assets section, like this:
  # assets:
  #   - images/a_dot_burr.jpeg
  #   - images/a_dot_ham.jpeg
  #
  # For details regarding assets in packages, see
  # https://flutter.dev/to/asset-from-package
  #
  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/to/resolution-aware-images

  # To add custom fonts to your package, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts in packages, see
  # https://flutter.dev/to/font-from-package
